<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <title>{{title}} - wanderlust.reisen</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta property="og:title" content="{{title}} - wanderlust.reisen" />
  <meta property="og:description" content="{{description}}" />
  <meta property="og:image" content="{{site.url}}/photographs/{{id}}.jpg" />
  <meta property="og:image:width" content="{{ogImgWidth}}" />
  <meta property="og:image:height" content="{{ogImgHeight}}" />
  <meta property="og:url" content="{{site.url}}" />
  <meta name="description" content="{{description}}" />
  <meta name="author" content="Michael Scott Graham" />
  <meta name="designer" content="Michael Graham, oakenclast@gmail.com" />
  <meta name="robots" content="index, follow" />
  <link href="/{{ fingerprint.[assets/page.css] }}" rel="stylesheet" />
</head>
<body>
  <div class="container">
    {{> header-row }}
